.button {
	font-size: inherit;
	border: 1px solid transparent;
	background: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 0.2em;
	color: inherit;

	&:hover {
		background-color: var(--highlight-bg);
		color: var(--highlight-fg);
		border-color: var(--border);
		transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	}

	&:active {
		background-color: transparent;
		box-shadow: 0 0 0.5em var(--border) inset;
	}
}
