.dropdown {
	display: none;
	position: absolute;
	top: 2em;
	right: 0;
	z-index: 1;
	background-color: var(--dropdown-bg);
	color: var(--dropdown-fg);
	min-width: 15em;
	border-radius: 0.4em;
	border: 1px solid var(--border);
	overflow: hidden;

	&.is-expanded {
		display: block;
	}
}

.dropdown-item {
	border: 0;
	background: none;
	display: block;
	min-width: 100%;
	font-size: inherit;
	text-align: left;
	padding: 0.2em 0.3em;
	white-space: nowrap;
	cursor: pointer;

	&:nth-child(2n) {
		background-color: var(--odd);
	}

	&:hover {
		background-color: var(--highlight-bg);
		color: var(--highlight-fg);
	}
}
