body {
	overflow-y: scroll;
}

.conversation__header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.5em;
	background-color: Menu;
	box-shadow: 0 0 1em ThreeDShadow;
}

.conversation__main {
	max-width: 70em;
	padding: 3em 0.5em 0.5em;
	margin: 0 auto;
}

.message {
	background-color: -moz-default-background-color;
	color: -moz-default-color;
	margin-bottom: 2px;
	box-shadow: 0 0 0.3em ThreeDShadow;
}

.message__body {
	border: 0;
	width: 100%;
}

.message__header {
	padding: 0.5em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.message__header > * {
	flex: 0 0 auto;
}

.message__header > .summary,
.message__header > .recipients {
	flex: 1 1 auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.summary,
.message.is-collapsed .message__body,
.message.is-collapsed .recipients {
	display: none;
}

.message.is-collapsed .summary {
	display: block;
}

.summary {
	opacity: 0.5;
}

.author {
	margin-right: 0.5em;
}

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1.5em;
	vertical-align: -.4em;
}

.icon.is-active {
	color: #fcb040;
}
