:root {
	--bg-tint: #00000006;
	--bg: Menu;
	--fg: MenuText;
	--border: ButtonBorder;
	--odd: -moz-OddTreeRow;
	--highlight-bg: -moz-CellHighlight;
	--highlight-fg: -moz-CellHighlightText;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}
}

body {
	display: grid;
	grid-template-rows: min-content 1fr;
	background: var(--bg-tint);
	block-size: 100vb;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}

.button {
	font-size: inherit;
	border: 1px solid transparent;
	background: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 0.2em;
	color: inherit;
}
.button:hover {
	background-color: var(--highlight-bg);
	color: var(--highlight-fg);
	border-color: var(--border);
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.button:active {
	background-color: transparent;
	box-shadow: 0 0 0.5em var(--border) inset;
}

.icon {
	display: inline-block;
	fill: currentColor;
	block-size: 1.5em;
	vertical-align: -0.4em;
}

.alert {
	background-color: #d9edf7;
	color: black;
	padding: 0.5em;
}
.alert .icon {
	font-size: 200%;
	vertical-align: middle;
}
.alert--success {
	background-color: #dff0d8;
}
.alert--warning {
	background-color: #fcf8e3;
}
.alert--error {
	background-color: #f2dede;
}

.conversation__header {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	gap: 1em;
	background-color: var(--bg);
	color: var(--fg);
	border-block-end: 1px solid var(--border);
}

.conversation__main {
	overflow-y: scroll;
	padding: 0.5em;
}

.conversation__subject {
	font-size: inherit;
	margin: 0;
}

.dropdown {
	display: none;
	position: absolute;
	inset-block-start: 2em;
	inset-inline-end: 0;
	z-index: 1;
	background-color: var(--bg);
	color: var(--fg);
	min-inline-size: 15em;
	border-radius: 0.4em;
	border: 1px solid var(--border);
}
[aria-expanded="true"] + .dropdown {
	display: block;
}
.dropdown-item {
	display: block;
	border: 0;
	background: none;
	color: inherit;
	display: block;
	min-inline-size: 100%;
	font-size: inherit;
	text-align: start;
	padding-block: 0.2em;
	padding-inline: 0.3em;
	white-space: nowrap;
	cursor: pointer;
	text-decoration: none;
}
.dropdown-item:nth-child(2n) {
	background-color: var(--odd);
}
.dropdown-item:hover {
	background-color: var(--highlight-bg);
	color: var(--highlight-fg);
}
.dropdown-item:first-child {
	border-start-start-radius: inherit;
	border-start-end-radius: inherit;
}
.dropdown-item:last-child {
	border-end-start-radius: inherit;
	border-end-end-radius: inherit;
}

.message {
	max-inline-size: 70em;
	margin-block: 0 0.5em;
	margin-inline: auto;
	background-color: var(--bg);
	color: var(--fg);
	border: 1px solid var(--border);
}
.message .message__details,
.message .message__recipients {
	display: none;
}
.message.is-expanded .message__details,
.message.is-expanded .message__recipients {
	display: block;
}
.message.is-expanded .message__summary {
	display: none;
}

.message__body {
	padding: 0.5em;
	margin: 0;
	line-height: 1.4;
	white-space: pre-wrap;
	overflow: auto;
}
.message__body summary {
	font-size: 80%;
	cursor: pointer;
}
.message__body blockquote {
	margin: 0;
	padding-block: 0.4ex;
	padding-inline: 1ex;
	border-inline-start: 2px solid rgb(114, 159, 207); /* Sky Blue 1 */
}
.message__body blockquote blockquote {
	border-inline-start-color: rgb(173, 127, 168); /* Plum 1 */
}
.message__body blockquote blockquote blockquote {
	border-inline-start-color: rgb(138, 226, 52); /* Chameleon 1 */
}
.message__body blockquote blockquote blockquote blockquote {
	border-inline-start-color: rgb(252, 175, 62); /* Orange 1 */
}
.message__body blockquote blockquote blockquote blockquote blockquote {
	border-inline-start-color: rgb(233, 185, 110); /* Chocolate 1 */
}
.message__body .moz-signature {
	opacity: 0.6;
}

.message__header,
.message__footer {
	padding: 0.5em;
}

.message__header {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.message__header > * {
	flex: 0 0 auto;
}
.message__header > .message__summary,
.message__header > .message__recipients {
	flex: 1 1 auto;
}
.message__header > .message__summary {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.message__summary {
	opacity: 0.5;
}

.message__author {
	margin-inline-end: 0.5em;
	text-decoration: none;
}

.message__recipients a {
	color: inherit;
	text-decoration: none;
}
.message__recipients a:not(:last-child)::after {
	content: ", ";
}

.message__recipients__cc,
.message__recipients__bcc {
	opacity: 0.5;
}

.message__recipients__cc::before {
	content: "cc:";
}

.message__recipients__bcc::before {
	content: "bcc:";
}

.message__actions {
	position: relative;
}

.attachments {
	margin: 0;
	padding: 0;
}
.attachments li {
	display: block;
}
.attachment {
	color: inherit;
	text-decoration: none;
	padding: 0.1em;
	border-radius: 2px;
}

.star {
	border: 0;
	background: none;
	color: inherit;
	padding: 0;
}
.star[aria-pressed="true"] {
	color: #fcb040;
}
