:root {
	--bg-tint: Window;
	--bg: Menu;
	--fg: MenuText;
	--border: ThreeDShadow;
	--odd: -moz-OddTreeRow;
	--highlight-bg: -moz-CellHighlight;
	--highlight-fg: -moz-CellHighlightText;
}

@import 'components/alert';
@import 'components/attachments';
@import 'components/button';
@import 'components/conversation';
@import 'components/dropdown';
@import 'components/icon';
@import 'components/message';
